## Part - A

In [1]:
import pandas as pd

df = pd.DataFrame({'A': ['group1', 'group1', 'group2', 'group1','group2',
'group1', 'group2', 'group2','group2','group1'],
'B': ['true', 'true', 'true', 'false', 'false', 'false', 'false', 'true','false','true']})

In [2]:
# df.head()

In [3]:
df['A'].value_counts()

group1    5
group2    5
Name: A, dtype: int64

In [4]:
var1 = df[df['A'] == 'group1']
var2 = df[df['B'] == 'group2']
# var1.head()
print(var1['B'].value_counts()[0]/len(var1['B']), ' for group1') # number of true/total cases
print(var1['B'].value_counts()[0]/len(var1['B']), ' for group1')

0.6  for group1
0.6  for group1

In [5]:
# this shows both have same number of true cases.

In [6]:
ser1 = pd.Series([1, 2, 3, 4, 5])

In [7]:
ser2 = pd.Series([4, 5, 6, 7, 8])

In [8]:
ser1_set = set(ser1)
ser2_set = set(ser2)

In [9]:
ser1_set.intersection(ser2_set) # common to both

{4, 5}

In [10]:
 not_common = ser1_set.union(ser2_set) - ser1_set.intersection(ser2_set)

In [11]:
not_common # not common elements

{1, 2, 3, 6, 7, 8}

In [12]:
Ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
Ser.name = "Numbers"
Ser.head(2)

0    1
1    3
Name: Numbers, dtype: int64

In [13]:
ser_multiple = Ser[Ser.values%3 == 0]
ser_multiple.head(2) # now we can take the index of ser_multiple and get the index of multiples of 3
ser_multiple.index

Int64Index([1, 2, 4, 5, 6], dtype='int64')

In [14]:
print(Ser.diff().tolist()) # gives consecutive differences and stores in a list.

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

## Part - B

In [15]:
csv  = pd.read_csv(r"C:\Users\KIIT\Desktop\HighRadius Docs\Grouby_Assignment_Data.csv")
data = pd.DataFrame(csv)
data.head(2)

,Unnamed: 0,Unnamed: 0.1,school_state,teacher_prefix,project_grade_category,teacher_number_of_previously_posted_projects,project_is_approved,project_subject_categories,project_subject_subcategories,price,quantity
0,0,0,in,mrs,grades_prek_2,0,0,literacy_language,esl_literacy,154.6,23
1,1,1,fl,mr,grades_6_8,7,1,history_civics_health_sports,civics_government_teamsports,299.0,1

In [16]:
data_mean = data.groupby(['school_state']).mean()
# data_mean['price']

In [17]:
data_sum = data.groupby(['teacher_prefix']).sum()
data_sum['teacher_number_of_previously_posted_projects']

teacher_prefix
dr             53
mr         129516
mrs        639471
ms         441295
teacher      7671
Name: teacher_number_of_previously_posted_projects, dtype: int64

In [18]:
data_subset = pd.DataFrame()
data_subset['teacher_prefix'] = data['teacher_prefix']
data_subset['teacher_number_of_previously_posted_projects'] = data['teacher_number_of_previously_posted_projects']
data_subset.max()

teacher_prefix                                  teacher
teacher_number_of_previously_posted_projects        451
dtype: object

In [19]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'school_state', 'teacher_prefix',
       'project_grade_category',
       'teacher_number_of_previously_posted_projects', 'project_is_approved',
       'project_subject_categories', 'project_subject_subcategories', 'price',
       'quantity'],
      dtype='object')

In [20]:
data_project1 = data[data['project_grade_category'] == 'grades_9_12']
data_project = data_project1.groupby(['project_subject_categories']).sum()
data_project.head() # project_is_approved tells the number of projects approved for each subject category in grades_9_12

,Unnamed: 0,Unnamed: 0.1,teacher_number_of_previously_posted_projects,project_is_approved,price,quantity
project_subject_categories,,,,,,
appliedlearning,28051023,28056920,3373,384,158812.43,9725
appliedlearning_health_sports,2093290,2093729,414,34,15819.21,656
appliedlearning_history_civics,4065840,4066697,852,57,32722.72,1386
appliedlearning_literacy_language,12152040,12154581,2509,191,68696.15,4989
appliedlearning_math_science,9781110,9783157,1516,142,66554.18,2846

In [21]:
data_prefix_avg = data.groupby(['teacher_prefix']).mean()
data_prefix_avg['project_is_approved']

teacher_prefix
dr         0.692308
mr         0.841522
mrs        0.855546
ms         0.843519
teacher    0.795339
Name: project_is_approved, dtype: float64

In [22]:
new_df = pd.DataFrame({'State': ['A', 'B', 'C', 'A', 'A', 'B', 'A', 'A', 'C', 'C'],
'class': [0, 1, 1, 0, 1, 1, 0, 1,1, 0]})
new_df.head()

  State  class
0     A      0
1     B      1
2     C      1
3     A      0
4     A      1

In [23]:
new_df_A = new_df[new_df['State'] == 'A']
new_df_B = new_df[new_df['State'] == 'B']
new_df_C = new_df[new_df['State'] == 'C']

In [24]:
state_list = list(new_df['State'].unique())

new_df_try = pd.DataFrame()
new_df_try['State'] = state_list

dicA = dict(new_df_A['class'].value_counts())
dicB = dict(new_df_B['class'].value_counts())
dicC = dict(new_df_C['class'].value_counts())

new_df_try['class=0'] = [dicA.get(0, 0), dicB.get(0, 0), dicC.get(0, 0)]
new_df_try['class=1'] = [dicA.get(1, 0), dicB.get(1, 0), dicC.get(1, 0)]
new_df_try

  State  class=0  class=1
0     A        3        2
1     B        0        2
2     C        1        2

In [25]:
new_df_final = pd.DataFrame()
list_0 = []
list_1 = []
for i in list(new_df['State']):
    # print(i)
    if i == 'A':
        list_0.append(3/5)
        list_1.append(2/5)
    elif i == 'B':
        list_0.append(0/2)
        list_1.append(2/2)
    else:
        list_0.append(1/3)
        list_1.append(2/3)
        
new_df_final["State_0"] = list_0
new_df_final["State_1"] = list_1
new_df_final

    State_0   State_1
0  0.600000  0.400000
1  0.000000  1.000000
2  0.333333  0.666667
3  0.600000  0.400000
4  0.600000  0.400000
5  0.000000  1.000000
6  0.600000  0.400000
7  0.600000  0.400000
8  0.333333  0.666667
9  0.333333  0.666667